* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

/* Login Form */
::placeholder {
    color: rgb(140, 177, 180);
  }
  
  .form-wrapper {
    margin: 0 auto;
    margin-top: 100px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    border-top: 5px solid rgb(19, 206, 206);
  }
  
  #custom-form h1 {
    text-align: center;
    color: rgb(19, 206, 206);
  }
  
  #custom-form input[type="email"],
  #custom-form input[type="text"],
  #custom-form textarea,
  #custom-form input[type="password"] {
    min-width: 300px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: rgb(17, 128, 136);
    background-color: rgb(210, 246, 246);
    font-size: 1rem;
  }
  #custom-form input[type="email"]:focus,
  #custom-form input[type="text"]:focus,
  #custom-form textarea:focus,
  #custom-from input[type="password"]:focus {
    border-bottom: 3px solid rgb(19, 206, 206);
    outline: none;
  }
  
  #custom-form input[type="submit"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: rgb(19, 206, 206);
    font-size: 1rem;
  }
  
  #custom-from input[type="submit"]:hover {
    color: white;
    background-color: rgb(9, 172, 172);
    cursor: pointer;
  }
  
  #custom-form .form_item {
    padding: 15px;
  }
  

/* Navbar */
.myDropdown {
  position: absolute;
  display: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgb(246, 255, 255);
  z-index: 1;
  height: 50vh;
  width: 576px;
}
.show {
  display: flex;
}
.active {
  background-color: #f8f9fa !important;
  border-left: 5px solid blue !important;
}
.tab {
  float: left;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
  width: 300px;
}
.tab button {
  display: block;
  border: none;
  border-radius: none;
  padding: 0.5rem 1rem;
  background-color: white;
  width: 100%;
}
.tabcontent {
  float: left;
  padding: 2rem;
}
/* Mobile nav */
.mobile-nav a {
  text-decoration: none;
  color: black;
}